.cardContainer {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.infoPanel {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  text-transform: uppercase;
  font-feature-settings: 'case' on;
  color: #333335;
}

.itemTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
}
