@font-face {
  font-family: 'acta';
  src: local('acta'), url(./fonts/DSType\ -\ Acta-Medium.otf) format('truetype');
}

body {
  margin: 0;
  font-family: 'acta', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


